@import url("https://use.typekit.net/ggb4sgg.css");

body {
  background-color: #0d1821;
  color: white;
  font-family: nobel, sans-serif !important;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden !important;
}

h1 {
  padding-bottom: 30px;
}

#title {
  font-size: 60px;
  padding-left: 40px;
  padding-top: 20px;
}

.userInfo {
  text-align: right;
  padding-right: 40px;
  padding-top: 20px;
  font-size: 20px;
}

#username {
  display: inline;
}

#circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #6e8894;
  display: inline-block;
  margin-left: 4px;
  position: relative;
  top: 4px;
}

.cal {
  margin-top: 20px;
  height: 800px;
  width: 95%;
  border: rgb(159, 159, 159) solid 1px;
  border-radius: 10px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 7px 6px 12px -10px rgba(107, 107, 107, 0.84);
}

.sideBox {
  margin-top: 20px;
  height: 800px;
  width: 95%;
  border: rgb(159, 159, 159) solid 1px;
  border-radius: 10px;
  background-color: transparent;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 7px 6px 12px -10px rgba(107, 107, 107, 0.84);
}

.form {
  margin-top: 100px;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 30px;
  padding-bottom: 30px;
  border: rgb(159, 159, 159) solid 1px;
  border-radius: 10px;
  box-shadow: 7px 6px 12px -10px rgba(107, 107, 107, 0.84);
}

.center {
  margin-left: auto;
  margin-right: auto;
}

#loginBtn {
  background-color: #85baa1;
  padding: 10px;
  font-size: 24px;
  margin-top: 30px;
}

#createBtn {
  background-color: #85baa1;
  padding: 10px;
  font-size: 24px;
  margin-top: 30px;
}

#acctBtn {
  background-color: #85baa1;
  padding: 10px;
  font-size: 24px;
  margin-top: 30px;
}

input {
  background-color: white;
  border: none !important;
  border-bottom: rgb(159, 159, 159) solid 1px !important;
  color: black !important;
}

input:hover {
  border: none;
}

.textCenter {
  text-align: center;
}

#plus {
  font-weight: 800;
  font-size: 24px;
  color: black;
}

.add {
  background-color: #6e8894;
  border-radius: 10px;
  height: 35px;
  width: 40px;
}

.dropdown {
  display: inline;
  margin-left: 10px;
}

textarea {
  width: 100%;
  border-radius: 0.25rem;
}

a {
  color: white;
}

a:hover {
  color: white;
}

.nav-tabs {
  margin-bottom: 20px;
}

.rbc-calendar {
  padding-left: 40px;
  padding-top: 30px;
}

.pad {
  padding-left: 30px;
  padding-top: 30px;
  padding-right: 50px;
}
.sign-out {
  color: red;
}

.sign-out:hover {
  color: darkred;
}
