.chat-header {
  text-align: center;
}

.chat-app {
  font-size: 18px;
  width: 100%;
}

.chat-main {
  padding: 10px;
  height: 33vh;
  margin-bottom: 5px;
  overflow-y: scroll;
}

.chat-main::-webkit-scrollbar {
  width: 0.25rem;
}

.chat-main::-webkit-scrollbar-track {
  background: #1e1e24;
}

.chat-main::-webkit-scrollbar-thumb {
  background: gray;
}

.chat-form {
  position: fixed;
  bottom: 0;
  background-color: rgb(24, 23, 23);
  max-width: 728px;
  display: flex;
  font-size: 1.5rem;
}

.chat-input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.5rem;
  background: white;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  border-radius: 0.25rem;
}

.chat-button {
  border: none;
  color: white;
  padding: 10px 20px;
  padding: 0.375rem 0.75rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 0.25rem;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.chat-button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

ul,
li {
  text-align: left;
  list-style: none;
}

.chat-p {
  max-width: 500px;
  margin-bottom: 12px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  text-align: center;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #0b93f6;
  align-self: flex-end;
}
.received p {
  background: #e5e5ea;
  color: black;
}

.chat-img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}

#send {
  height: 20px;
}
